# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

bobyard/.idea
bobyard/bin
bobyard/lib
bobyard/include
bobyard/pyvenv.cfg

# dependencies
bobyard-frontend1/node_modules
/bobyard-frontend1/.pnp
.pnp.js

calendar-frontend/node_modules
nested-children-frontend/node_modules

# testing
bobyard-frontend1/coverage

# production
bobyard-frontend1/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
